<div class="blc-articles" id="articles">
    <div class="items">
        <div class="item">
            <a href="https://medium.com/@AsureTeam/what-is-dao-dac-daio-666050a34466" target="_blank" rel="noopener">
      <span class="image">
        <img src="<%= fixUrl(current.path, 'content/img/news/medium.svg') %>" alt="">
      </span>
                <span class="date">5th Mar. 2018</span>
                <span class="title">What is DAO, DAC and DAIO?</span>
            </a>
        </div>
        <div class="item">
            <a href="https://medium.com/@AsureTeam/why-classical-insurance-is-a-poor-choice-979b57ba23b6"
               target="_blank" rel="noopener">
                <span class="image"><img src="<%= fixUrl(current.path, 'content/img/news/medium.svg') %>" alt=""></span>
                <span class="date">22th Mar. 2018</span>
                <span class="title">Why a classical insurance is a poor choice</span>
            </a>
        </div>
        <div class="item">
            <a href="#">
                <span class="image"><img src="<%= fixUrl(current.path, 'content/img/4.svg') %>" alt=""></span>
                <span class="date">18. Februar, 2018</span>
                <span class="title">What is Asure?</span>
            </a>
        </div>
        <div class="item">
            <a href="#">
                <span class="image"><img src="<%= fixUrl(current.path, 'content/img/news/btc_magazin.svg') %>"
                                         alt=""></span>
                <span class="date">18. Februar, 2018</span>
                <span class="title">What is Asure?</span>
            </a>
        </div>
        <div class="item">
            <a href="#">
                <span class="image"><img src="<%= fixUrl(current.path, 'content/img/4.svg') %>" alt=""></span>
                <span class="date">18. Februar, 2018</span>
                <span class="title">What is Asure?</span>
            </a>
        </div>
        <div class="item">
            <a href="#">
                <span class="image"><img src="<%= fixUrl(current.path, 'content/img/4.svg') %>" alt=""></span>
                <span class="date">18. Februar, 2018</span>
                <span class="title">What is Asure?</span>
            </a>
        </div>
    </div>
</div>