<section class="blc-team" id="team">
    <div class="container">
        <div class="head">
            <h1 class="title hr">Team Asure</h1>
            <div class="row">
                <div class="offset-md-2 col-md-8 justify">
                    Das Asure-Team ist eine Gruppe von Versicherungs- und Technologieexperten mit jahrzehntelanger
                    Erfahrung in der Branche. Wir haben an hochmodernen Blockchain-basierten Projekten und Projekten mit
                    dem Schwerpunkt Künstliche Intelligenz im Bereich Versicherungen gearbeitet.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/pmizel.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Paul Mizel</div>
                    <div class="position">Founder & CEO</div>
                    <div class="overlay">
                        <p>
                            <b>Paul Mizel</b> <br/>
                            Paul verfügt über zehn Jahre Erfahrung in der Versicherungsbranche. Ehemaliger Leiter
                            Innovation bei einer Beratungsgesellschaft. Seit 2014 arbeitet er mit seinem
                            Innovationsteam in Deutschland und der Ukraine an Blockchain Projekten.
                        </p>
                        <div class="d-flex justify-content-center">
                            <a class="float-left" href="https://www.linkedin.com/in/pmizel" target="_blank"
                               rel="noopener">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <a class="float-left" href="https://twitter.com/pmizel" target="_blank" rel="noopener">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a class="float-left" href="https://github.com/pmizel" target="_blank" rel="noopener">
                                <i class="fab fa-github"></i>
                            </a>
                            <a class="float-left" href="https://medium.com/@pmizel" target="_blank" rel="noopener">
                                <i class="fab fa-medium"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/fraetz.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Fabian Raetz</div>
                    <div class="position">Founder & CTO</div>
                    <div class="overlay">
                        <p>
                            <b>Fabian Raetz</b> <br/>
                            Fabian war mehr als 10 Jahren bei der BROCKHAUS AG tätig. In der Innovationsabteilung
                            von Paul Mizel erforschte er zukunftsweisende Technologien zur Verbesserung der
                            Versicherungswirtschaft.
                        </p>
                        <div class="d-flex justify-content-center">
                            <a class="float-left" href="https://www.linkedin.com/in/fraetz" target="_blank"
                               rel="noopener">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <a class="float-left" href="https://twitter.com/FabianRaetz" target="_blank" rel="noopener">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a class="float-left" href="https://github.com/Mischi" target="_blank" rel="noopener">
                                <i class="fab fa-github"></i>
                            </a>
                            <a class="float-left" href="https://medium.com/@fabian.raetz" target="_blank"
                               rel="noopener">
                                <i class="fab fa-medium"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/gschmuck.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Gamal Schmuck</div>
                    <div class="position">Founder & CFO</div>
                    <div class="overlay">
                        <p>
                            <b>Gamal Schmuck</b> <br/>
                            Gamal verfügt mehr als 5 Jahre Erfahrung in der
                            Versicherungsbranche. Als zertifizierter Usability Engineer am Fraunhofer
                            Institut begann er, sich auf Usability Engineering zu fokussieren und
                            Software zu entwickeln, die das Leben der Menschen vereinfacht.
                        </p>
                        <div class="d-flex justify-content-center">
                            <a class="float-left" href="https://www.linkedin.com/in/gschmuck" target="_blank"
                               rel="noopener">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <a class="float-left" href="https://twitter.com/GamalSchmuck" target="_blank"
                               rel="noopener">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a class="float-left" href="https://github.com/gschmuck" target="_blank" rel="noopener">
                                <i class="fab fa-github"></i>
                            </a>
                            <a class="float-left" href="https://medium.com/@gschmuck" target="_blank" rel="noopener">
                                <i class="fab fa-medium"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/akuchaev.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Andrey Kuchaev</div>
                    <div class="position">Community Manager</div>
                    <div class="overlay">
                        <p>
                            <b>Andrey Kuchaev</b> <br/>
                            Andrey hat einen Master of Science-Abschluss in Informatik. Er arbeitete am Fraunhofer
                            Institut, wo sein Interesse an Blockchain-Technologien entstanden ist. Er arbeitete an
                            mehreren Projekten für eine große internationale Versicherungsgesellschaft.
                        </p>
                        <div class="d-flex justify-content-center">
                            <a class="float-left" href="https://www.linkedin.com/in/akuchaev" target="_blank"
                               rel="noopener">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <a class="float-left" href="https://twitter.com/AKuchaev" target="_blank" rel="noopener">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a class="float-left" href="https://github.com/outta" target="_blank" rel="noopener">
                                <i class="fab fa-github"></i>
                            </a>
                            <a class="float-left" href="https://medium.com/@Outta" target="_blank" rel="noopener">
                                <i class="fab fa-medium"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/efalkenstein.jpg') %>" class="img-fluid"
                         alt="">
                    <div class="name">Eugen Falkenstein</div>
                    <div class="position">Team Manager</div>
                    <div class="overlay">
                        <p>
                            <b>Eugen Falkenstein</b> <br/>
                            ist ein Senior Teammanager und Technologiespezialist mit mehr als 10 Jahren Erfahrung in der
                            Technologiebranche.
                        </p>
                        <div class="d-flex justify-content-center">
                            <a class="float-left" href="https://www.linkedin.com/in/eugen-falkenstein-033382113/"
                               target="_blank" rel="noopener">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/igutjahr.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Igor Gutjahr</div>
                    <div class="position">Business Operations Analyst</div>
                    <div class="overlay">
                        <p>
                            <b>Igor Gutjahr</b> <br/>
                            Ist Senior Analyst und Technologiespezialist mit mehr als 5+ Jahren Erfahrung in der
                            Technologiebranche.
                        </p>
                        <div class="d-flex justify-content-center">
                            <a class="float-left" href="https://www.linkedin.com/in/igutjahr/" target="_blank"
                               rel="noopener">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/wlipp.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Wetscheslaw Lipp</div>
                    <div class="position">Blockchain Developer</div>
                    <div class="overlay">
                        <p>
                            <b>Wetscheslaw Lipp</b> <br/>
                            ist ein erfahrener Blockchain-Entwickler mit mehr als 5+ Jahren Softwareentwicklungserfahrung in der Versicherungsbranche.
                        </p>
                        <div class="d-flex justify-content-center">
                            <a class="float-left" href="https://www.linkedin.com/in/wetscheslaw-lipp-49515b151/"
                               target="_blank" rel="noopener">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/skirienko.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Serhii Kirienko</div>
                    <div class="position">AI/Full Stack Developer</div>
                    <div class="overlay"><p>
                            <b>Serhii Kirienko</b> <br/>
                            ist ein Full Stack Entwickler mit Sitz in Kiew, Ukraine.
                        </p>
                        <div class="d-flex justify-content-center">
                            <a class="float-left" href="https://www.linkedin.com/in/sergiy-kyriienko-938632b5/">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <!--<a class="float-left" href="#">
                                <i class="fab fa-twitter"></i>
                            </a>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/syaremchuk.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Serhii Yaremchuk</div>
                    <div class="position">AI/Full Stack Developer</div>
                    <div class="overlay">
                        <p>
                            <b>Serhii Yaremchuk</b> <br/>
                            ist ein Full Stack Entwickler mit Sitz in Kiew, Ukraine.
                        </p>
                        <div class="d-flex justify-content-center">
                            <a class="float-left" href="https://www.linkedin.com/in/serhiy-yaremchuck-536944136/">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <!--<a class="float-left" href="#">
                                <i class="fab fa-twitter"></i>
                            </a>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/ascherbakova.jpg') %>" class="img-fluid"
                         alt="">
                    <div class="name">Anastasia Scherbakova</div>
                    <div class="position">Full Stack Developer</div>
                    <div class="overlay">
                        <p>
                            <b>Anastasia Scherbakova</b> <br/>
                            ist eine junior Full Stack Entwicklerin mit Sitz in Kiew, Ukraine.
                        </p>
                        <div class="d-flex justify-content-center">
                            <a class="float-left" href="https://www.linkedin.com/in/anastasiia-shcherbakova-000519157/"
                               target="_blank" rel="noopener">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/agruenke.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Alexander Grünke</div>
                    <div class="position">Marketing</div>
                    <div class="overlay">
                        <p>
                            <b>Alexander Grünke</b> <br/>
                            ist ein Junior-Social-Media-Spezialist.
                        </p>
                        <div class="d-flex justify-content-center">
                            <a class="float-left" href="https://www.linkedin.com/in/alexander-gruenke" target="_blank"
                               rel="noopener">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/pmoeller.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Patrick Möller</div>
                    <div class="position">Marketing</div>
                    <div class="overlay">
                        <p>
                            <b>Patrick Möller</b> <br/>
                            Patrick ist ein Veteran der sozialen Medien. Er begann seine Erfahrung als Schauspieler und
                            Komiker, hat einige berühmte Social-Media-Kanäle in der Unterhaltung.
                        </p>
                        <div class="d-flex justify-content-center">
                            <a class="float-left" href="https://www.linkedin.com/in/patrick-m%C3%B6ller-40314515b/"
                               target="_blank" rel="noopener">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <!--<a class="float-left" href="#" target="_blank" rel="noopener">
                                <i class="fab fa-twitter"></i>
                            </a>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/klorenz.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Kersten Lorenz</div>
                    <div class="position">Blockchain Expert</div>
                    <div class="overlay">
                        <p>
                            <b>Kersten Lorenz</b> <br/>
                            hat ein Diplom in theoretischer Informatik und fast zwanzig Jahre Erfahrung in der
                            Konzeption und Erstellung verteilter Systeme. Seit über zwei Jahren beschäftigt er sich
                            intensiv mit der Blockchain-Technologie.
                        </p>
                        <div class="d-flex justify-content-center">
                            <a class="float-left" href="https://www.linkedin.com/in/kersten-lorenz" target="_blank"
                               rel="noopener">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <a class="float-left" href="https://github.com/loxy" target="_blank" rel="noopener">
                                <i class="fab fa-github"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/adroganova.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Anastasia Droganova</div>
                    <div class="position">Office Manager</div>
                    <div class="overlay">
                        <p>
                            <b>Anastasia Droganova</b> <br/>
                            ist eine Büroleiterin mit Sitz in Dortmund, Deutschland.
                        </p>
                        <div class="d-flex justify-content-center">
                            <a class="float-left" href="https://www.linkedin.com/in/adroganova" target="_blank"
                               rel="noopener">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/wstelle.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Waldemar Stelle</div>
                    <div class="position">Technical Support</div>
                    <div class="overlay">
                        <p>
                            <b>Waldemar Stelle</b> <br/>
                            ist Senior Analyst mit mehr als 5+ Jahren in der Technologiebranche.
                        </p>
                        <div class="d-flex justify-content-center">
                            <a class="float-left" href="https://www.linkedin.com/in/wstelle" target="_blank"
                               rel="noopener">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/rkunas.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Ramazan Kunas</div>
                    <div class="position">Blockchain Developer</div>
                    <div class="overlay">
                        <p>
                            <b>Ramazan Kunas</b> <br/>
                            Ramazan verfügt über mehr als 10 Jahre Erfahrung in der Softwareentwicklung in verschiedenen
                            Branchen und Behörden. Er hat Unternehmen aus verschiedenen Blickwinkeln gesehen. Er hat
                            Cryptomining betrieben und hat ein gutes Verständnis für Blockchain.
                        </p>
                        <div class="d-flex justify-content-center">
                            <a class="float-left" href="https://www.linkedin.com/in/ramazan-kunas-a028b4165/"
                               target="_blank"
                               rel="noopener">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <a class="float-left" href="https://github.com/rkunas" target="_blank" rel="noopener">
                                <i class="fab fa-github"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <% if (false) { %>

            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/mshabalina.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Mariia Shabalina</div>
                    <div class="position">AI / Data Science</div>
                    <div class="overlay">
                        <p>
                            <b>Mariia Shabalina</b> <br/>
                            Is a analyst and data-science specialist with more then 3+ years` in data-science and
                            data-mining technologies.
                        </p>
                        <div class="d-flex justify-content-center">
                            <!--<a class="float-left" href="https://www.linkedin.com/in/wstelle" target="_blank"
                               rel="noopener">
                                <i class="fab fa-linkedin"></i>
                            </a>-->
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/atoktakunov.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Azamat Toktakunov</div>
                    <div class="position">UX/CX Expert</div>
                    <div class="overlay"></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/ileyberman.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Ilja Leyberman</div>
                    <div class="position">Chief Architect</div>
                    <div class="overlay"></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/mhollweg.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Matthias Hollweg</div>
                    <div class="position">Insurance Analyst</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/nazzamjai.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Nabil Azzam Jai</div>
                    <div class="position">Insurance Analyst</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/wkolossow.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Wadim Kolossow</div>
                    <div class="position">Insurance Analyst</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/jheinekeclemm.jpg') %>" class="img-fluid"
                         alt="">
                    <div class="name">Jan Heinicke-Clemm</div>
                    <div class="position">Insurance Analyst</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/mjanatzek.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Morris Janatzek</div>
                    <div class="position">Blockchain Developer</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/mkasko.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Michael Kasko</div>
                    <div class="position">Blockchain Developer</div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/ssavchenko.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Sergej Savchenko</div>
                    <div class="position">Blockchain Developer</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/jgeske.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Jan Geske</div>
                    <div class="position">Full Stack Developer</div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/rheffel.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Roman Heffel</div>
                    <div class="position">Collaboration Expert</div>
                </div>
            </div>

            <% } %>
        </div>
    </div>

    <div class="container">
        <div class="head">
            <h1 class="title hr">Advisors</h1>
        </div>
        <div class="row">
            <% if(false){ %>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="investor">
                    <img src="<%= fixUrl(current.path, 'content/img/team/dmattern-bw.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Dirk Mattern</div>
                    <div class="desc">
                        Organisation Advisor
                        <br/>
                        30+
                    </div>
                </div>
            </div>
            <% } else { %>

            <% } %>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="investor">
                    <img src="<%= fixUrl(current.path, 'content/img/team/ekuceradis-bw.jpg') %>" class="img-fluid"
                         alt="">
                    <div class="name">Emanuel Kuceradis</div>
                    <div class="desc">
                        Technology Advisor
                    </div>
                    <div class="overlay">
                        <p>
                            <b>Emanuel Kuceradis</b> <br/>
                            Emanuel hat mehr als 20 Jahre Erfahrung im Finanzdienstleistungssektor in
                            BI/BigData-Projekten (Großbritannien, USA und China).
                        </p>
                        <div class="d-flex justify-content-center">
                            <a class="float-left" href="https://www.linkedin.com/in/emanuel-kuceradis-86514566/">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="investor">
                    <img src="<%= fixUrl(current.path, 'content/img/team/aboehner-bw.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Alexander Böhner</div>
                    <div class="desc">
                        Insurance Advisor
                    </div>
                    <div class="overlay">
                        <p>
                            <b>Alexander Böhner</b> <br/>
                            Alexander ist Versicherungsberater mit mehr als 10 Jahren Erfahrung in der Leitung von
                            Ingenieurteams und der Entwicklung von Produkten und Plattformen. Er arbeitete als
                            Programm-Manager bei Zurich Insurance SE, Gothar und Signal Iduna.
                        </p>
                        <div class="d-flex justify-content-center">
                            <a class="float-left" href="https://www.linkedin.com/in/alexander-böhner">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="investor">
                    <img src="<%= fixUrl(current.path, 'content/img/team/mlurz-bw.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Michael Lurz</div>
                    <div class="desc">
                        Insurance Advisor
                    </div>
                    <div class="overlay">
                        <p>
                            <b>Michael Lurz</b> <br/>
                            Michael hat mehr als 10 Jahre Erfahrung in der Versicherungsbranche, insbesondere in der
                            Produktentwicklung (Gesundheit, Recht, Automobil, Handel).
                        </p>
                        <div class="d-flex justify-content-center">
                            <a class="float-left" href="https://www.linkedin.com/in/michael-lurz-4914a7143/">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <!--<a class="float-left" href="#">
                                <i class="fab fa-twitter"></i>
                            </a>-->
                        </div>
                    </div>
                </div>
            </div>
            <% if(false){ %>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="investor">
                    <img src="<%= fixUrl(current.path, 'content/img/team/brandon-goldman.png') %>" class="img-fluid"
                         alt="">
                    <div class="name">Dr. Lichtenberg</div>
                    <div class="desc">
                        Legal Advisor
                        <br/>
                        Rechtsanwalt und Steuerberater, Dortmund
                    </div>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</section>