<!--<%- partial("../shared/partials/pages/_hero") %>-->
<% include ../helpers.ejs %>
<style>
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.post-data{
  font-size: 15px;
}
.lead{
  margin-bottom: 1em;
}
.posts{
  margin:20px;
  display:block;
  border-right: 1px solid #e5e5e5;
}
.post-content{
  margin-bottom: 2em;
}
.container-fix{
    margin-top:5em;
    margin-bottom:5em;
}
.tag{
    max-width:300px;
    font-weight: auto;
    font-size: 14px;
    display:inline-block;
    margin:0 2px 10px 0;
}
.image {
	margin: 1em 0;
	
	overflow: hidden;
	transition: transform .5s ease;
}
	.image:hover {
		transform: scale(1.05);
	}
	
.soc-icon{
  position:fixed;
}
	
	.image img {
		width: 80%;
		height: auto;
		object-fit: cover;
		transition: transform .8s ease;
  }
  .smalldata{
    font-size: 0.8rem;
    flex: 0 0 33.333333%;
  }
  .post-line{
    width: 68%;
    margin: 0 auto;
  }
  .title{
    font-size: 2.5rem;
  }
  .smalltitle{
    font-size: 1.3rem;
  }
	.firstcol{
    flex: 0 0 66.666667%;
  }
  .smallfirstcol{
    flex: 0 0 66.666667%;
  }
  .secondcol{
    flex: 0 0 33.333333%;
  }
  @media screen and (max-width: 1200px) and (min-width: 1001px) {
    .smalltitle{
    font-size: 1.1rem;
  }
  .smalldata{
    font-size: 0.7rem;
}
}
	@media screen and (max-width: 1000px) and (min-width: 300px) {
    .secondcol, .firstcol{
    flex: 0 0 100%;
  }
  .title{
    font-size: 1.5rem;
  }
 
}

	.image:hover img {
		transform: scale(1.15);
	}
.list{
  border-top:3px;
}
/* Search styles */

#s {
  margin-top: 10px;
 background: rgba(0,0,0,.375) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAUCAYAAABvVQZ0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAQBJREFUeNqslI0RgyAMhdENWIEVWMEVXIGO0BW6Ah2hHcGOoCPYEewINFzBe9IA9id37w4kfEZesHHOCSYUqSPJML+RJlELDwN1pMHxMZNMkr8RTgyz2YPH5LmtwXpIHkOFmKhIlxowDmYAycKnHAHYcTCsSpXOJCie6YWDnXKLGeHLN2stGaqDsXXrX3GFcYcLrfhjtKEhffQ792gYT2nT6pJDjCw4z7ZGdGipOIqNbXIwFUARmCbKpMfYxsWJBmCEDoW7+gYUTAU2s3HJrK3AJvMLkqGHFLgWXTckm+SfSQexs+tLRqwVfgvjgMsvMAT689S5M/sk/I14kO5PAQYAuk6L1q+EdHMAAAAASUVORK5CYII=) no-repeat 14px 14px; 
 text-indent: 1em; 
 display: inline-block; 
 border: 0 none; width: 0; height: 3em; border-radius: 3em; 
 -webkit-transition: .3s; transition: .3s; outline: none; padding: 1em 1.5em; 
 cursor: pointer; -webkit-appearance: none; font-weight: inherit; font-size: inherit; font-family: inherit; color: #fff; vertical-align: baseline; }
input[type=search]::-webkit-search-cancel-button { -webkit-appearance: none; }

#s:hover, #s:focus { background: rgba(0,0,0,.3)  url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAUCAYAAABvVQZ0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAQBJREFUeNqslI0RgyAMhdENWIEVWMEVXIGO0BW6Ah2hHcGOoCPYEewINFzBe9IA9id37w4kfEZesHHOCSYUqSPJML+RJlELDwN1pMHxMZNMkr8RTgyz2YPH5LmtwXpIHkOFmKhIlxowDmYAycKnHAHYcTCsSpXOJCie6YWDnXKLGeHLN2stGaqDsXXrX3GFcYcLrfhjtKEhffQ792gYT2nT6pJDjCw4z7ZGdGipOIqNbXIwFUARmCbKpMfYxsWJBmCEDoW7+gYUTAU2s3HJrK3AJvMLkqGHFLgWXTckm+SfSQexs+tLRqwVfgvjgMsvMAT689S5M/sk/I14kO5PAQYAuk6L1q+EdHMAAAAASUVORK5CYII=) 14px 14px no-repeat; }

#s:focus { width: 80%; cursor: text; }

</style>

<div class="container container-fix">
  <div class="row">
    <div class="firstcol col-posts">
    <div class="posts">
<% for(var slug in public.blog.posts._data){ %>

<div class="post-content">
<p class="text-muted post-data"><%= public.blog.posts._data[slug].postdate %></p>
  <h2 class="display-4 title">
    <a href="../blog/posts/<%= slug %>/" style="text-decoration:none; color:#000;">
    <%= public.blog.posts._data[slug].title %>
    </a>
  </h2>
  <div class="image">
  <img src="<%= public.blog.posts._data[slug].image %>">
  
</div>
  <p class="lead"><%= public.blog.posts._data[slug].description %></p>
  <% for(var tag in public.blog.posts._data[slug].tags){ %>
  <div class="btn btn-light tag"><%=public.blog.posts._data[slug].tags[tag] %></div>
  <% }; %>
  <hr class="post-line">
  </div>
<% }; %>
</div>
      </div>
    <div class="secondcol col-posts">
    <div class="posts">
    <!--<input type="search" id="s"  placeholder="Search...">-->
  
    <div>
    <% for(var slug in public.blog.posts._data){ %>
    <div class="list">
  <h3 class="display-4 smalltitle">
    <a href="../blog/posts/<%= slug %>/" style="text-decoration:none; color:#000;">
    <span class="row" style="margin-top:30px;">
    <span class="smallfirstcol"><%= public.blog.posts._data[slug].title %></span>
    <span class="smalldata"><%= public.blog.posts._data[slug].postdate %></span>
    </span>
    </a>
  </h3>
</div>
<hr class="post-line">
<% }; %>
</div>
</div>
    </div>
  </div>
</div>


  