<div class="blc-faq" id="faq">
    <div class="container">
        <div class="head">
            <h1 class="title hr">Часто задаваемые вопросы</h1>
        </div>
        <div class="row">
            <div class="col-md-3 d-none d-md-block">
                <div class="desc">
                    <img src="logo/asure-logo.svg" class="img-fluid">
                </div>
            </div>
            <div class="col-md-8 offset-md-1">
                <!--
                When will the pre-sale and token sale happen?
                We’re working with security auditors to finalise the contract. When they have
                completed their analysis we will announce the confirmed dates of both the
                pre-sale and token sale. Note that the ASR pre-sale and token sale parameters
                will be tied to the block number, so times will depend on Ethereum mining
                rates. The contract will be pushed to github and Ethereum mainnet at least 3
                days before the presale starts. We’ll also give people a week to interact with the
                contract on Ropsen / testnet.
                https://sphere.social/


                -->
                <%
                var faqs = [
                    {
                        q: "Что такое ASURE?",
                        a: `Asure - это открытая децентрализованная автономная страховая платформа, работающая на базе технологии блокчейн.`
                    },
                    {
                        q: "Что такое DAIO?",
                        a: `
                            DAIO - это сокращение от <b>decentralized autonomous insurance organization</b>, что в переводе обозначает
                            <b>децентрализованная автономная страховая организация</b>, которая представляет собой особый вид
                            <a href="https://blog.ethereum.org/2014/05/06/daos-dacs-das-and-more-an-incomplete-terminology-guide/">DAO</a>.
                        `
                    },
                    {
                        q: "Почему Asure приняла решение собирать финансирование посредством ICO/TGE?",
                        a: `
                    Мы уверены в том, что технология блокчейн имеет грандиозные возможности повысить уровень наших решений и стать основанием для всех наших продуктов.
                    <br/><br/>
                    Asure приняла решение финансироваться посредством ICO/TGE поскольку этот вариант наилучшим образом подходит под выбранной нами бизнес модели, которая предоставляет децентрализованную автономную страховую платформу народным массам.
                    `
                    },
                    {
                        q: "Как расшифровывается ASR и что это такое?",
                        a: "ASR - это ютилити токен, используемый для взаимодействия с платформой Asure, он основывается на спецификации ERC20."
                    },
                    {
                        q: "Когда стартует ICO?",
                        a: "ICO начнётся осенью 2018 года."
                    }//,
//
//                {q:"What amount is being raised? What’s the cap of tokens? Will there be a follow-on offering?",a:"We have set a Hard Cap of 500,000 ETH. We do not plan to have a follow-on offering."},
//                {q:"What cryptocurrencies are accepted in the token sale?",a:"ETH is the only cryptocurrency accepted during the token sale in exchange for ASR tokens. You will be required to have an Ethereum wallet to participate in the token sale. ASR are Ethereum derived tokens. If you hold BTC or some other cryptocurrency it can be exchanged for ETH and used to participate in the token sale."},
//                {q:"How many coins where be?",a:"Max supply 10.000,000,000 ASR"},
//                {q:"What is the price of ASR?",a:"ASR will be set at fixed ratios to ETH. We may adjust these slightly with ETH volatility as we get closer to the contract deployment date. The non-discounted exchange rate will be 12,000 ASR per ETH. With the maximum discount for presale participants of 15,600 ASR per ETH."},
//                {q:"Which wallet can be used to store ASR?",a:"ASR is an ERC20 token, meaning it can be stored in ERC20 compatible wallets such as MyEtherWallet. After ICO will be released Web / Desktop / Mobile wallets then you can store them there."},
//                {q:"How will Asure use ETH raised during the Token Sale?",a:"The ETH received in the token sale will be used by the team as per the budget allocation listed, with a strong focus on building out the blockchain based insurance platform, which uses ASR as the core unit of exchange."},
//                {q:"How will Asure store ETH?",a:"Asure will use the standard Ethereum wallet to store ETH as well as transfer a significant portion into cold storage."},
//                    {
//                      q: "When do you expect to have the mobile app ready?",
//                      a: "The mobile app should be ready in late 2019."
//                    }
                ];
                var index = 0;
                %>

                <div id="accordion" role="tablist">
                    <% faqs.forEach(function(faq){ index++; %>
                    <div class="card">
                        <div class="card-header" role="tab" id="heading<%= index %>">
                            <h5 class="mb-0">
                                <a data-toggle="collapse" href="#collapse<%= index %>" aria-expanded="false"
                                   aria-controls="collapse<%= index %>">
                                    <%= faq.q %>
                                </a>
                            </h5>
                        </div>
                        <div id="collapse<%= index %>" class="collapse" role="tabpanel"
                             aria-labelledby="heading<%= index %>" data-parent="#accordion">
                            <div class="card-body">
                                <%- faq.a %>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                </div>

            </div>
        </div>
    </div>
</div>