<section class="blc-partners" id="partners">
    <div class="container">
        <div class="header head">
            <div class="images" style="display: none;"><img
                        src="<%= fixUrl(current.path, 'content/img/investor.svg') %>" alt=""></div>
            <h1 class="title hr">Partners</h1>
            <p>Asure is constantly exploring the latest technology standards and expanding cooperation with
                international research communities in order to maintain artificial intelligence, machine learning and
                blockchain technology.</p>
        </div>
        <div class="row">
            <% if (false) { %>
            <div class="col-md-4">
                <div class="image">
                    <img class="img-fluid" src="<%= fixUrl(current.path, 'content/img/partners/brockhaus-ag.svg') %>"
                         alt="">
                </div>
            </div>
            <% } %>
            <div class="col-md-4">
                <div class="image">
                    <img class="img-fluid" src="<%= fixUrl(current.path, 'content/img/partners/ethereum.png') %>"
                         alt="">
                </div>
            </div>

            <div class="col-md-4">
                <div class="image">
                    <img class="img-fluid" src="<%= fixUrl(current.path, 'content/img/partners/hyperledger.png') %>"
                         alt="">
                </div>
            </div>

            <div class="col-md-4">
                <div class="image">
                    <img class="img-fluid" src="<%= fixUrl(current.path, 'content/img/partners/tu-dortmund.png') %>"
                         alt="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="image">
                    <img class="img-fluid" src="<%= fixUrl(current.path, 'content/img/partners/fh-dortmund.svg') %>"
                         alt="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="image">
                    <img class="img-fluid" src="<%= fixUrl(current.path, 'content/img/partners/hshl.svg') %>" alt="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="image">
                    <img class="img-fluid" src="<%= fixUrl(current.path, 'content/img/partners/uni-paderborn.png') %>"
                         alt="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="image">
                    <img class="img-fluid" src="<%= fixUrl(current.path, 'content/img/partners/wwu.svg') %>" alt="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="image">
                    <img class="img-fluid" src="<%= fixUrl(current.path, 'content/img/partners/rwth-logo.png') %>"
                         alt="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="image">
                    <img class="img-fluid" src="<%= fixUrl(current.path, 'content/img/partners/fernuni_hagen.png') %>"
                         alt="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="image">
                    <img class="img-fluid" src="<%= fixUrl(current.path, 'content/img/partners/ude-logo.png') %>"
                         alt="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="image">
                    <img class="img-fluid" src="<%= fixUrl(current.path, 'content/img/partners/rub.png') %>" alt="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="image">
                    <img class="img-fluid" src="<%= fixUrl(current.path, 'content/img/partners/kpi.png') %>" alt="">
                </div>
            </div>
        </div>
    </div>
</section>