<section class="blc-team" id="team">
    <div class="container">
        <div class="head">
            <h1 class="title hr">Наша команда</h1>
            <div class="row">
                <div class="offset-md-2 col-md-8 justify">
                    Команда Asure - это группа экспертов по страхованию и информационным технологиям с многолетним
                    опытом работы в области страхования. Мы работали над проектами с привязкой на искусственный
                    интеллект и блокчейн основе в контексте страховых компаний.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/pmizel.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Пауль Мицель</div>
                    <div class="position">Основатель и CEO</div>
                    <div class="overlay">
                        <p>
                            <b>Пауль Мицель</b> <br/>
                            Пауль имеет более 10 лет опыта работы в страховой отрасли.
                            Ранее возглавлял отдел инноваций в страховой консалтинговой компании.
                            Вместе со своей командой с 2014 года работал в Германии и в
                            Украине в блокчейн и ИИ проектах.
                        </p>
                        <div class="d-flex justify-content-center">
                            <a class="float-left" href="https://www.linkedin.com/in/pmizel" target="_blank"
                               rel="noopener">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <a class="float-left" href="https://twitter.com/pmizel" target="_blank" rel="noopener">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a class="float-left" href="https://github.com/pmizel" target="_blank" rel="noopener">
                                <i class="fab fa-github"></i>
                            </a>
                            <a class="float-left" href="https://medium.com/@pmizel" target="_blank" rel="noopener">
                                <i class="fab fa-medium"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/fraetz.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Фабиан Рэтц</div>
                    <div class="position">Основатель и CTO</div>
                    <div class="overlay">
                        <p>
                            <b>Фабиан Рэтц</b> <br/>
                            Фабиан более 10 лет работал в BROCKHAUS AG.
                            В отделе инноваций с Паулем Мицель он изучал как передовые
                            технологии помогают улучшать страховую отрасль.
                            В свободное время Фабиан помогает open-source проектам.
                        </p>
                        <div class="d-flex justify-content-center">
                            <a class="float-left" href="https://www.linkedin.com/in/fraetz" target="_blank"
                               rel="noopener">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <a class="float-left" href="https://twitter.com/FabianRaetz" target="_blank" rel="noopener">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a class="float-left" href="https://github.com/Mischi" target="_blank" rel="noopener">
                                <i class="fab fa-github"></i>
                            </a>
                            <a class="float-left" href="https://medium.com/@fabian.raetz" target="_blank"
                               rel="noopener">
                                <i class="fab fa-medium"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/gschmuck.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Джамаль Шмук</div>
                    <div class="position">Основатель и CFO</div>
                    <div class="overlay">
                        <p>
                            <b>Джамаль Шмук</b> <br/>
                            Джамаль 5 лет работал в сфере разработки ПО в страховой отрасли.
                            Сертифицированный инженер по Эргономике, он изучал как создавать ПО, упрощающее людям жизнь.
                        </p>
                        <div class="d-flex justify-content-center">
                            <a class="float-left" href="https://www.linkedin.com/in/gschmuck" target="_blank"
                               rel="noopener">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <a class="float-left" href="https://twitter.com/GamalSchmuck" target="_blank"
                               rel="noopener">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a class="float-left" href="https://github.com/gschmuck" target="_blank" rel="noopener">
                                <i class="fab fa-github"></i>
                            </a>
                            <a class="float-left" href="https://medium.com/@gschmuck" target="_blank" rel="noopener">
                                <i class="fab fa-medium"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/akuchaev.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Андрей Кучаев</div>
                    <div class="position">Комьюнити-менеджер</div>
                    <div class="overlay">
                        <p>
                            <b>Андрей Кучаев</b> <br/>
                            Обладатель степени магистра в компьютерной инжинерии, Андрей заинтересовался
                            блокчейном работая в институте Фраунхофера. В качестве консультанта он работал
                            в проектах для международных страховых компаний.
                        </p>
                        <div class="d-flex justify-content-center">
                            <a class="float-left" href="https://www.linkedin.com/in/akuchaev" target="_blank"
                               rel="noopener">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <a class="float-left" href="https://twitter.com/AKuchaev" target="_blank" rel="noopener">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a class="float-left" href="https://github.com/outta" target="_blank" rel="noopener">
                                <i class="fab fa-github"></i>
                            </a>
                            <a class="float-left" href="https://medium.com/@Outta" target="_blank" rel="noopener">
                                <i class="fab fa-medium"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/efalkenstein.jpg') %>" class="img-fluid"
                         alt="">
                    <div class="name">Евгений Фалкенштайн</div>
                    <div class="position">Менеджер команд</div>
                    <div class="overlay">
                        <p>
                            <b>Евгений Фалкенштайн</b> <br/>
                            Старший менеджер команд и специалист по информационным технологиям с более чем 10-летним
                            опытом работы.
                        </p>
                        <div class="d-flex justify-content-center">
                            <a class="float-left" href="https://www.linkedin.com/in/eugen-falkenstein-033382113/"
                               target="_blank" rel="noopener">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/igutjahr.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Игорь Гутяр</div>
                    <div class="position">Аналитик коммерческих операций</div>
                    <div class="overlay">
                        <p>
                            <b>Игорь Гутяр</b> <br/>
                            Старший аналитик и специалист с более чем 5-летним опытом работы в информационных
                            технологиях.
                        </p>
                        <div class="d-flex justify-content-center">
                            <a class="float-left" href="https://www.linkedin.com/in/igutjahr/" target="_blank"
                               rel="noopener">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/wlipp.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Вячеслав Липп</div>
                    <div class="position">Блокчейн-разработчик</div>
                    <div class="overlay">
                        <p>
                            <b>Вячеслав Липп</b> <br/>
                            Старший разработчкий блокчейн с более чем 5-летним опытом работы в страховой отрасли.
                        </p>
                        <div class="d-flex justify-content-center">
                            <a class="float-left" href="https://www.linkedin.com/in/wetscheslaw-lipp-49515b151/"
                               target="_blank" rel="noopener">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/skirienko.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Сергей Кириенко</div>
                    <div class="position">Фуллстек разработчик/ИИ</div>
                    <div class="overlay"><p>
                        <b>Сергей Кириенко</b> <br/>
                        Сергей - Фуллстек разработчик, а также специалист ИИ в Киеве, Украина.
                    </p>
                        <div class="d-flex justify-content-center">
                            <a class="float-left" href="https://www.linkedin.com/in/sergiy-kyriienko-938632b5/">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <!--<a class="float-left" href="#">
                                <i class="fab fa-twitter"></i>
                            </a>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/syaremchuk.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Сергей Яремчук</div>
                    <div class="position">Фуллстек разработчик/ИИ</div>
                    <div class="overlay">
                        <p>
                            <b>Сергей Яаремчук</b> <br/>
                            Сергей - Фуллстек разработчик, а также специалист ИИ в Киеве, Украина.
                        </p>
                        <div class="d-flex justify-content-center">
                            <a class="float-left" href="https://www.linkedin.com/in/serhiy-yaremchuck-536944136/">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <!--<a class="float-left" href="#">
                                <i class="fab fa-twitter"></i>
                            </a>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/ascherbakova.jpg') %>" class="img-fluid"
                         alt="">
                    <div class="name">Анастасия Щербакова</div>
                    <div class="position">Фуллстек разработчик</div>
                    <div class="overlay">
                        <p>
                            <b>Анастасия Щербакова</b> <br/>
                            Анастасия - младший фуллстек разработчик в Киеве, Украина.
                        </p>
                        <div class="d-flex justify-content-center">
                            <a class="float-left" href="https://www.linkedin.com/in/anastasiia-shcherbakova-000519157/"
                               target="_blank" rel="noopener">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/agruenke.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Александр Грюнке</div>
                    <div class="position">Маркетинг</div>
                    <div class="overlay">
                        <p>
                            <b>Александр Грюнке</b> <br/>
                            Александр - младший сотрудник в сфере социальных сетей.
                        </p>
                        <div class="d-flex justify-content-center">
                            <a class="float-left" href="https://www.linkedin.com/in/alexander-gruenke" target="_blank"
                               rel="noopener">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/pmoeller.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Патрик Мёллер</div>
                    <div class="position">Маркетинг</div>
                    <div class="overlay">
                        <p>
                            <b>Патрик Мёллер</b> <br/>
                            Патрик - ветеран в области социальных сетей. Он начинал в качестве актёра и комика, имеет
                            несколько популярных каналов в соц сетях в сфере развлечений и продолжает успешно работать
                            в этой области.
                        </p>
                        <div class="d-flex justify-content-center">
                            <a class="float-left" href="https://www.linkedin.com/in/patrick-m%C3%B6ller-40314515b/"
                               target="_blank" rel="noopener">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <!--<a class="float-left" href="#" target="_blank" rel="noopener">
                                <i class="fab fa-twitter"></i>
                            </a>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/klorenz.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Керстен Лоренц</div>
                    <div class="position">Блокчейн-разработчик</div>
                    <div class="overlay">
                        <p>
                            <b>Керстен Лоренц</b> <br/>
                            Обладатель диплома по теоретической информатике, Керстен уже почти 20 лет
                            проектирует и создаёт распределенные компьютерные системы. На протяжение последних 2
                            лет он активно занимался блокчейн технологиями.
                        </p>
                        <div class="d-flex justify-content-center">
                            <a class="float-left" href="https://www.linkedin.com/in/kersten-lorenz" target="_blank"
                               rel="noopener">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <a class="float-left" href="https://github.com/loxy" target="_blank" rel="noopener">
                                <i class="fab fa-github"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/adroganova.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Анастасия Дроганова</div>
                    <div class="position">Офис-менеджер</div>
                    <div class="overlay">
                        <p>
                            <b>Анастасия Дроганова</b> <br/>
                            Анастасия - наш офис-менеджер в Дортмунде, Германия.
                        </p>
                        <div class="d-flex justify-content-center">
                            <a class="float-left" href="https://www.linkedin.com/in/adroganova" target="_blank"
                               rel="noopener">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/wstelle.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Владимир Штеле</div>
                    <div class="position">Техническая поддержка</div>
                    <div class="overlay">
                        <p>
                            <b>Владимир Штеле</b> <br/>
                            Старший аналитик с более чем 5-летним опытом работы в отрасли информационных технологий.
                        </p>
                        <div class="d-flex justify-content-center">
                            <a class="float-left" href="https://www.linkedin.com/in/wstelle" target="_blank"
                               rel="noopener">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/rkunas.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Рамазан Кунас</div>
                    <div class="position">Блокчейн-разработчик</div>
                    <div class="overlay">
                        <p>
                            <b>Рамазан Кунас</b> <br/>
                            Рамазан более 10 лет занимался разработкой ПО в разных отраслях. У него была возможность
                            увидеть бизнес с разных сторон. Он также занимался криптомайнингом и отличается пониманием
                            технологии блокчейн.

                        </p>
                        <div class="d-flex justify-content-center">
                            <a class="float-left" href="https://www.linkedin.com/in/ramazan-kunas-a028b4165/"
                               target="_blank"
                               rel="noopener">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <a class="float-left" href="https://github.com/rkunas" target="_blank" rel="noopener">
                                <i class="fab fa-github"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <% if (false) { %>

            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/mshabalina.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Мария Шабалина</div>
                    <div class="position">ИИ / Data Science</div>
                    <div class="overlay">
                        <p>
                            <b>Мария Шабалина</b> <br/>
                            Is a analyst and data-science specialist with more then 3+ years` in data-science and
                            data-mining technologies.
                        </p>
                        <div class="d-flex justify-content-center">
                            <!--<a class="float-left" href="https://www.linkedin.com/in/wstelle" target="_blank"
                               rel="noopener">
                                <i class="fab fa-linkedin"></i>
                            </a>-->
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/atoktakunov.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Азамат Токтакунов</div>
                    <div class="position">UX/CX эксперт</div>
                    <div class="overlay"></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/ileyberman.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Илья Леберман</div>
                    <div class="position">Главный архитектор</div>
                    <div class="overlay"></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/mhollweg.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Матиас Хольвег</div>
                    <div class="position">Страховой аналитик</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/nazzamjai.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Набиль Аззам Джай</div>
                    <div class="position">Страховой аналитик</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/wkolossow.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Вадим Колоссов</div>
                    <div class="position">Страховой аналитик</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/jheinekeclemm.jpg') %>" class="img-fluid"
                         alt="">
                    <div class="name">Ян Хайнике-Клемм</div>
                    <div class="position">Страховой аналитик</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/mjanatzek.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Морис Янатчек</div>
                    <div class="position">Блокчейн-разработчик</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/mkasko.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Михаил Каско</div>
                    <div class="position">Блокчейн-разработчик</div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/ssavchenko.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Сергей Савченко</div>
                    <div class="position">Блокчейн-разработчик</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/jgeske.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Ян Геске</div>
                    <div class="position">Фуллстек разработчик</div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/rheffel.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Роман Хеффель</div>
                    <div class="position">Эксперт по коллаборации</div>
                </div>
            </div>

            <% } %>
        </div>
    </div>

    <div class="container">
        <div class="head">
            <h1 class="title hr">Советники</h1>
        </div>
        <div class="row">
            <% if(false){ %>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="investor">
                    <img src="<%= fixUrl(current.path, 'content/img/team/dmattern-bw.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Дирк Матерн</div>
                    <div class="desc">
                        Советник по организационным вопросам
                        <br/>
                        30+
                    </div>
                </div>
            </div>
            <% } else { %>

            <% } %>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="investor">
                    <img src="<%= fixUrl(current.path, 'content/img/team/ekuceradis-bw.jpg') %>" class="img-fluid"
                         alt="">
                    <div class="name">Эмануэль Кучерадис</div>
                    <div class="desc">
                        Советник по информационным технологиям
                    </div>
                    <div class="overlay">
                        <p>
                            <b>Эмануэль Кучерадис</b> <br/>
                            У Эмануэля более 20-летний опыт разработки в секторе финансовых услуг для проектов в
                            областях Бизнес Анализа и Big Data (в Великобритании, США и Китае).
                        </p>
                        <div class="d-flex justify-content-center">
                            <a class="float-left" href="https://www.linkedin.com/in/emanuel-kuceradis-86514566/">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="investor">
                    <img src="<%= fixUrl(current.path, 'content/img/team/aboehner-bw.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Александр Бёнер</div>
                    <div class="desc">
                        Советник в страховой отрасли
                    </div>
                    <div class="overlay">
                        <p>
                            <b>Александр Бёнер</b> <br/>
                            Александр является консультантом в страховой отрасли с более чем 10 годами опыта руководства
                            командами разработки и разработки страховых продуктов и платформ. Он работал менеджером
                            программ в таких страховых компаниях, как Zurich Insurance SE, Gothar и Signal Iduna.
                        </p>
                        <div class="d-flex justify-content-center">
                            <a class="float-left" href="https://www.linkedin.com/in/alexander-böhner">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="investor">
                    <img src="<%= fixUrl(current.path, 'content/img/team/mlurz-bw.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Михаэль Лурц</div>
                    <div class="desc">
                        Советник в страховой отрасли
                    </div>
                    <div class="overlay">
                        <p>
                            <b>Михаэль Лурц</b> <br/>
                            У Михаэля за плечами более 10 лет опыта в страховой отрасли, по большей части в разработке
                            страховых продуктов (в здравоохранении, праве, автомобильной и коммерческой отраслях).
                        </p>
                        <div class="d-flex justify-content-center">
                            <a class="float-left" href="https://www.linkedin.com/in/michael-lurz-4914a7143/">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <!--<a class="float-left" href="#">
                                <i class="fab fa-twitter"></i>
                            </a>-->
                        </div>
                    </div>
                </div>
            </div>
            <% if(false){ %>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="investor">
                    <img src="<%= fixUrl(current.path, 'content/img/team/brandon-goldman.png') %>" class="img-fluid"
                         alt="">
                    <div class="name">Доктор Лихтенберг</div>
                    <div class="desc">
                        Советник по правовым вопросам
                        <br/>
                        Адвокат и консультант по налогам в г. Дортмунд
                    </div>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</section>