<%= model = getBlogData(current.path)  %>
<style>
.block-post img{
    margin:10px;
    max-height:300px;
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
}
.container-fix{
    margin-top:5em;
    margin-bottom:5em;
}
.block-post h2{
    margin-bottom:50px;
}
</style>


<div class="container container-fix block-post">
<div class="col">

  <h2 class="display-4" style="font-size: 2.5rem;">
  
    <%= model.title %>
    
  </h2>
  <h2 class="display-4" style="font-size: 1.5rem;">
  
  <%= model.description %>
  
</h2>
 


<p>A decentralized autonomous organization (DAO), sometimes called a decentralized autonomous corporation (DAC), is an organization that is run through rules encoded as computer programs called smart contracts.
<!-- more --></p>



<p>A special form DAIO is named after decentralized autonomous insurance organization.</p>
<img src="img/dao.png">
<p>
By using the equation of exchange principles, an ecosystem platform is automatically operated in order to run an organization with minimal costs, which benefits the customers and investors alike.


</p>
<% for(var tag in model.tags){ %>
  <div class="btn btn-light tag"><%=model.tags[tag] %></div>
  <% }; %>
<p class="text-muted" align="right"><%= model.postdate %></p>
<%- partial("../../../shared/_comments") %>
</div>
</div>



