<div class="blc-footer" id="customFooter">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="social">
                    <a href="https://twitter.com/asureteam" target="_blank" rel="noopener" alt="twitter">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="https://www.medium.com/asureteam" target="_blank" rel="noopener" alt="medium">
                        <i class="fab fa-medium"></i>
                    </a>
                    <a href="https://t.me/asureteam" target="_blank" rel="noopener" alt="telegram">
                        <i class="fab fa-telegram"></i>
                    </a>
                    <a href="https://www.facebook.com/asureteam" target="_blank" rel="noopener" alt="facebook">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="https://www.instagram.com/asureteam" target="_blank" rel="noopener" alt="instagram">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://www.reddit.com/user/asurefoundation" target="_blank" rel="noopener" alt="reddit">
                        <i class="fab fa-reddit"></i>
                    </a>
                    <a href="https://www.youtube.com/channel/UCa3AMvXEwfOkgjih2ESuhSQ" target="_blank" rel="noopener" alt="youtube">
                        <i class="fab fa-youtube"></i>
                    </a>
                    <a href="https://www.github.com/asurefoundation" target="_blank" rel="noopener" alt="github">
                        <i class="fab fa-github"></i>
                    </a>
                    <br/><br/><br/>
                </div>
            </div>
        </div>
<!--<hr style="border: 1px solid #444;"/>-->
        <div class="row">

            <div class="col-md-6 links">
                <div class="title">HOME</div>
                <ul>
                    <li>
                        <a href="<%= fixUrl(current.path, '#about') %>">About</a>
                    </li>
                    <li>
                        <a href="<%= fixUrl(current.path, '#news') %>">News</a>
                    </li>
                    <li>
                        <a href="<%= fixUrl(current.path, '#features') %>">Features</a>
                    </li>
                    <li>
                        <a href="<%= fixUrl(current.path, '#team') %>">Team</a>
                    </li>
                    <li>
                        <a href="<%= fixUrl(current.path, '#roadmap') %>">Roadmap</a>
                    </li>
                    <li>
                        <a href="<%= fixUrl(current.path, 'blog/') %>">Blog</a>
                    </li>
                    <li>
                        <a href="<%= fixUrl(current.path, 'impress/') %>">Impress</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6" id="contacts">
                <div class="title">CONTACT</div>
                <div class="address">
                    <p>
                        Asure
                        <br> Elverdinckweg 14
                        <br> 44309 Dortmund, Germany

                        <br/><br/>
                        Asure
                        <br> Moldawskaja 2
                        <br> 02000 Kiev, Ukraine
                    </p>

                    <p>
                        <br> E-Mail: info(at)asure.io
                    </p>
                </div>


            </div>

        </div>

    </div>
</div>

<footer id="footer">
    <div class="copyright">
        &copy; 2018 Asure — Made with
        <i class="fa fa-heart fa-beat red"></i> in Germany + Ukraine
    </div>
</footer>