<div class="blc-footer" id="customFooter">
    <div class="container">
        <%- partial("_social_row") %>

        <div class="row">

            <div class="col-md-6 links">
                <div class="title">HOME</div>
                <ul>
                    <li>
                        <a href="<%= fixUrl(current.path, '#about') %>">About</a>
                    </li>
                    <li>
                        <a href="<%= fixUrl(current.path, '#solutions') %>">Solutions</a>
                    </li>
                    <li>
                        <a href="<%= fixUrl(current.path, '#platform') %>">Platform</a>
                    </li>
                    <li>
                        <a href="<%= fixUrl(current.path, '#team') %>">Team</a>
                    </li>
                    <li>
                        <a href="<%= fixUrl(current.path, '#roadmap') %>">Roadmap</a>
                    </li>
                    <li>
                        <a href="<%= fixUrl(current.path, 'imprint/') %>">Imprint</a>
                    </li>
                    <li>
                        <a href="<%= fixUrl(current.path, 'dataprivacy-policy/') %>">Data Privacy Policy</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6" id="contacts">
                <div class="title">CONTACT</div>
                <div class="address">
                    <p>
                        Asure
                        <br> Elverdinckweg 14
                        <br> 44309 Dortmund, Germany


                    </p>

                    <p>
                        <br> E-Mail: info(at)asure.io
                    </p>
                </div>


            </div>

        </div>

    </div>
</div>

<footer id="footer">
    <div class="copyright">
        &copy; 2018 Asure — Made with
        <i class="fa fa-heart fa-beat red"></i> in Germany + Ukraine
    </div>
</footer>

<nav class="navbar-footer fixed-bottom">
<%- partial("_cookies") %>
</nav>