<div class="blc-footer" id="customFooter">
    <div class="container">
        <%- partial("_social_row") %>

        <div class="row text-center">
            <div class="col-md-3 links">
                <p class="brand text-center">
                    <img src="logo/asure.black64x64.png" alt="ASURE LOGO" style="width: 64px;">
                    <span>Asure Foundation</span>
                </p>

                <ul class="p-0">
                    <li>c/o Immobörse GmbH</li>
                    <li>Baarerstrasse 112</li>
                    <li>6300 Zug, Switzerland</li>
                    <li>
                        <a href="mailto:info@asure.io">info@asure.io</a>
                    </li>
                    <li>
                        <a href="<%= fixUrl(current.path, 'imprint/') %>">Imprint</a> |
                        <a href="<%= fixUrl(current.path, 'dataprivacy-policy/') %>">Data Privacy</a>
                    </li>
                </ul>

            </div>
            <div class="col-md-2 links border-left-gray">
                <div class="title">MENU</div>
                <ul class="p-0">
                    <% for(var i in headerLinks){ %>
                        <li>
                            <a class="scroll-animation <%- current.path[0] == headerLinks[i].urlSegment ? 'active' : '' %>"
                               href="<%= headerLinks[i].url %>">
                                <%= headerLinks[i].title %>
                            </a>
                        </li>
                    <% }; %>
                </ul>
            </div>
            <div class="col-md-2 links border-left-gray">
                <div class="title">DOWNLOAD</div>
                <ul class="p-0">
                    <li>
                        <a href="https://asure.network/asure.network.whitepaper.en.pdf">Whitepaper</a>
                    </li>
                    <li>
                        <a href="https://asure.network/asure.network.tge.en.pdf">TGE Paper</a>
                    </li>
                    <li>
                        <a href="https://asure.network/asure.network.investordeck.en.pdf">Pitchdeck</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-5 border-left-gray" id="contacts">
                <div class="title">DONATION</div>
                <ul class="p-0">
                    <li>
                        ETH<br/>
                        <a href="https://etherscan.io/address/0xcbbc3d3d381f3a9a48cbae9ca701ac3c92e0aea5" target="_blank">
                            0xcbBc3D3d381f3A9a48CbAE9Ca701aC3c92e0aEA5
                        </a>
                    </li>
                    <li>
                        BTC <br/>
                        <a href="https://www.blockchain.com/de/btc/address/1Asuree6yddwAmnEw3x7xWVMQx5rNEUNth" target="_blank">
                            1<span style="font-weight: 900">Asure</span>e6yddwAmnEw3x7xWVMQx5rNEUNth
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<footer id="footer">
    <div class="copyright">
        &copy; 2017-2019 Asure Foundation — Made with
        <i class="fa fa-heart fa-beat red"></i> and incorporated in Zug, Switzerland
    </div>
</footer>

<nav class="navbar-footer fixed-bottom">
    <%- partial("_cookies") %>
    <% /* partial("_social-navbar") */ %>
</nav>