<nav class="blc-navbar navbar navbar-expand-lg navbar-light fixed-top bg-white">
    <div class="container">
        <a class="navbar-brand brand text-uppercase" href="<%= fixUrl(current.path, '#top') %>">
            <img src="<%= fixUrl(current.path, 'logo/asure.black64x64.png') %>" alt="ASURE LOGO"
                 class="img-fluid navbar-logo"/> &nbsp; ASURE Foundation
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <% for(var i in headerLinks){ %>
                <li class="nav-item">
                    <a class="nav-link scroll-animation <%- current.path[0] == headerLinks[i].urlSegment ? 'active' : '' %>"
                       href="<%= headerLinks[i].url %>">
                        <%= headerLinks[i].title %>
                    </a>
                </li>
                <% }; %>
            </ul>
        </div>
    </div>
</nav>
