<nav class="blc-navbar navbar navbar-expand-lg navbar-light fixed-top bg-white">
    <div class="container">
        <a class="navbar-brand" href="<%= fixUrl(current.path, '#top') %>">
            <img src="<%= fixUrl(current.path, 'logo/asure-logo.svg') %>" alt="ASURE LOGO"
                 class="img-fluid navbar-logo"/> &nbsp; ASURE - Rethink insurance!
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <% for(var i in headerLinks){ %>
                <li class="nav-item">
                    <a class="nav-link <%- current.path[0] == headerLinks[i].urlSegment ? 'active' : '' %>"
                       href="<%= headerLinks[i].url %>">
                        <%= headerLinks[i].title %>
                    </a>
                </li>
                <% }; %>
            </ul>

            <form class="form-inline language-switch">
                <div class="dropdown d-none d-lg-block">
                    <button class="btn dropdown-toggle" type="button" id="language-switch-btn" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        <span class="d-none" data-language="en">
                            <img class="flag" src="../content/img/flags/us.svg"
                                 alt="Germany Flag"> EN
                        </span>
                        <span class="d-none" data-language="de">
                            <img class="flag" src="../content/img/flags/de.svg"
                                 alt="Germany Flag"> DE
                        </span>
                        <span class="d-none" data-language="ru">
                            <img class="flag" src="../content/img/flags/ru.svg"
                                 alt="Germany Flag"> РУ
                        </span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="language-switch-btn">
                        <a href="#" data-language="en" class="dropdown-item">
                            <img class="flag" src="../content/img/flags/us.svg"
                                 alt="Germany Flag"> EN</a>
                        <a href="#" data-language="de" class="dropdown-item">
                            <img class="flag" src="../content/img/flags/de.svg"
                                 alt="Germany Flag"> DE
                        </a>
                        <a href="#" data-language="ru" class="dropdown-item">
                            <img class="flag" src="../content/img/flags/ru.svg"
                                 alt="Germany Flag"> РУ
                        </a>
                    </div>
                </div>
                <div class="language-switch-mobile d-block d-lg-none">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-language="en">
                                <img class="flag" src="../content/img/flags/us.svg"
                                     alt="Germany Flag"> EN
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-language="de">
                                <img class="flag" src="../content/img/flags/de.svg"
                                     alt="Germany Flag"> DE
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-language="ru">
                                <img class="flag" src="../content/img/flags/ru.svg"
                                     alt="Germany Flag"> РУ
                            </a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</nav>
