<section class="blc-team" id="team">
    <div class="container">
        <div class="head">
            <h1 class="title hr">Team Asure</h1>
            <div class="row">
                <div class="offset-md-2 col-md-8 justify">
                    The Asure team is a group of insurance and technology experts with decades of
                    experience in the industry. We have worked on cutting-edge blockchain-based
                    projects and projects with focus on artificial intelligence in the context of insurances.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/pmizel.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Paul Mizel (GER)</div>
                    <div class="position">Founder & CEO</div>
                    <div class="overlay">
                        <p>
                            <b>Paul Mizel</b> <br/>
                            Paul holds a Master’s Degree with over ten years’ experience in insurance industry.
                            Former Head of Innovation at Insurance Consulting Company.
                            He and his innovation team in Germany and in Ukraine worked on blockchain-related
                            projects since 2014.
                        </p>
                        <div class="d-flex justify-content-center">
                            <a class="float-left" href="https://www.linkedin.com/in/pmizel" target="_blank"
                               rel="noopener">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <a class="float-left" href="https://twitter.com/pmizel" target="_blank" rel="noopener">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a class="float-left" href="https://github.com/pmizel" target="_blank" rel="noopener">
                                <i class="fab fa-github"></i>
                            </a>
                            <a class="float-left" href="https://medium.com/@pmizel" target="_blank" rel="noopener">
                                <i class="fab fa-medium"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/fraetz.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Fabian Raetz  (GER)</div>
                    <div class="position">Founder & CTO</div>
                    <div class="overlay">
                        <p>
                            <b>Fabian Raetz</b> <br/>
                            Fabian has been working for more than 10 years at BROCKHAUS AG. In Paul Mizel’s innovations
                            department he researched cutting edge technologies to improve the insurance industry.

                            In his freetime he supports a number of open-source projects.
                        </p>
                        <div class="d-flex justify-content-center">
                            <a class="float-left" href="https://www.linkedin.com/in/fraetz" target="_blank"
                               rel="noopener">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <a class="float-left" href="https://twitter.com/FabianRaetz" target="_blank" rel="noopener">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a class="float-left" href="https://github.com/Mischi" target="_blank" rel="noopener">
                                <i class="fab fa-github"></i>
                            </a>
                            <a class="float-left" href="https://medium.com/@fabian.raetz" target="_blank"
                               rel="noopener">
                                <i class="fab fa-medium"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/gschmuck.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Gamal Schmuck (GER)</div>
                    <div class="position">Founder & CFO</div>
                    <div class="overlay">
                        <p>
                            <b>Gamal Schmuck</b> <br/>
                            Gamal has over 5 years' experience in software development in insurance industry and
                            authorities.
                            As a certified Usability Engineer at Fraunhofer Institute, he started to focus mainly on
                            usability engineering to create software which simplifies people's lives.
                        </p>
                        <div class="d-flex justify-content-center">
                            <a class="float-left" href="https://www.linkedin.com/in/gschmuck" target="_blank"
                               rel="noopener">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <a class="float-left" href="https://twitter.com/GamalSchmuck" target="_blank"
                               rel="noopener">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a class="float-left" href="https://github.com/gschmuck" target="_blank" rel="noopener">
                                <i class="fab fa-github"></i>
                            </a>
                            <a class="float-left" href="https://medium.com/@gschmuck" target="_blank" rel="noopener">
                                <i class="fab fa-medium"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/akuchaev.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Andrey Kuchaev (GER)</div>
                    <div class="position">Community Manager</div>
                    <div class="overlay">
                        <p>
                            <b>Andrey Kuchaev</b> <br/>
                            Andrey holds a Master of Science degree in Computer Engineering. He was working at
                            Fraunhofer Institute where his interest in blockchain
                            technologies has arisen. He worked on multiple projects for a major international
                            insurance company.
                        </p>
                        <div class="d-flex justify-content-center">
                            <a class="float-left" href="https://www.linkedin.com/in/akuchaev" target="_blank"
                               rel="noopener">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <a class="float-left" href="https://twitter.com/AKuchaev" target="_blank" rel="noopener">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a class="float-left" href="https://github.com/outta" target="_blank" rel="noopener">
                                <i class="fab fa-github"></i>
                            </a>
                            <a class="float-left" href="https://medium.com/@Outta" target="_blank" rel="noopener">
                                <i class="fab fa-medium"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/klorenz.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Kersten Lorenz (GER)</div>
                    <div class="position">Blockchain Expert</div>
                    <div class="overlay">
                        <p>
                            <b>Kersten Lorenz</b> <br/>
                            Kersten has a diploma in theoretical computer science and almost twenty years of experience
                            in the design and creation of distributed systems. He has been working intensively with
                            blockchain technology for over two years.
                        </p>
                        <div class="d-flex justify-content-center">
                            <a class="float-left" href="https://www.linkedin.com/in/kersten-lorenz" target="_blank"
                               rel="noopener">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <a class="float-left" href="https://github.com/loxy" target="_blank" rel="noopener">
                                <i class="fab fa-github"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/rkunas.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Ramazan Kunas (GER)</div>
                    <div class="position">Blockchain Developer</div>
                    <div class="overlay">
                        <p>
                            <b>Ramazan Kunas</b> <br/>
                            Ramazan has over 10 years' experience in software development in several
                            industries and authorities. He has seen businesses from several points of views. He also
                            made
                            Cryptomining and has a good understanding of Blockchain.

                        </p>
                        <div class="d-flex justify-content-center">
                            <a class="float-left" href="https://www.linkedin.com/in/ramazan-kunas-a028b4165/"
                               target="_blank"
                               rel="noopener">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <a class="float-left" href="https://github.com/rkunas" target="_blank" rel="noopener">
                                <i class="fab fa-github"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/sweiss.jpg') %>" class="img-fluid"
                         alt="">
                    <div class="name">Suzannah Weiss (US)</div>
                    <div class="position">PR Manager</div>
                    <div class="overlay">
                        <p>
                            <b>Suzannah Weiss</b> <br/>
                            Is a senior writer and editor and a regular contributor to New York Magazine,
                            The Washington Post, Vice, Glamour, Bustle, Refinery29,
                            Self, Men’s Health, The Establishment, Audiofemme,
                            and more.
                        </p>
                        <div class="d-flex justify-content-center">
                            <a class="float-left" href="https://www.linkedin.com/in/suzannahweiss/"
                               target="_blank" rel="noopener">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <a class="float-left" href="https://twitter.com/suzannahweiss" target="_blank" rel="noopener">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/igutjahr.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Igor Gutjahr (GER)</div>
                    <div class="position">Business Operations</div>
                    <div class="overlay">
                        <p>
                            <b>Igor Gutjahr</b> <br/>
                            Is a senior analyst and technology specialist with more than 5+ years` in the technology
                            industry.
                        </p>
                        <div class="d-flex justify-content-center">
                            <a class="float-left" href="https://www.linkedin.com/in/igutjahr/" target="_blank"
                               rel="noopener">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/efalkenstein.jpg') %>" class="img-fluid"
                         alt="">
                    <div class="name">Eugen Falkenstein (GER)</div>
                    <div class="position">Team Manager</div>
                    <div class="overlay">
                        <p>
                            <b>Eugen Falkenstein</b> <br/>
                            Is a senior team manager and technology specialist with more then 10+ years` in technology
                            industry.
                        </p>
                        <div class="d-flex justify-content-center">
                            <a class="float-left" href="https://www.linkedin.com/in/eugen-falkenstein-033382113/"
                               target="_blank" rel="noopener">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/wlipp.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Wetscheslaw Lipp (GER)</div>
                    <div class="position">Blockchain Developer</div>
                    <div class="overlay">
                        <p>
                            <b>Wetscheslaw Lipp</b> <br/>
                            Is a senior blockchain developer with more than 5+ years` in the insurance industry.
                        </p>
                        <div class="d-flex justify-content-center">
                            <a class="float-left" href="https://www.linkedin.com/in/wetscheslaw-lipp-49515b151/"
                               target="_blank" rel="noopener">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/skirienko.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Serhii Kirienko (UKR)</div>
                    <div class="position">AI/Full Stack Developer</div>
                    <div class="overlay"><p>
                            <b>Serhii Kirienko</b> <br/>
                            Is a middle full stack developer based in Kiev, Ukraine.
                        </p>
                        <div class="d-flex justify-content-center">
                            <a class="float-left" href="https://www.linkedin.com/in/sergiy-kyriienko-938632b5/">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <!--<a class="float-left" href="#">
                                <i class="fab fa-twitter"></i>
                            </a>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/syaremchuk.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Serhii Yaremchuk (UKR)</div>
                    <div class="position">AI/Full Stack Developer</div>
                    <div class="overlay">
                        <p>
                            <b>Serhii Yaremchuk</b> <br/>
                            Is a middle full stack developer based in Kiev, Ukraine.
                        </p>
                        <div class="d-flex justify-content-center">
                            <a class="float-left" href="https://www.linkedin.com/in/serhiy-yaremchuck-536944136/">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <!--<a class="float-left" href="#">
                                <i class="fab fa-twitter"></i>
                            </a>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/ascherbakova.jpg') %>" class="img-fluid"
                         alt="">
                    <div class="name">Anastasia Scherbakova (UKR)</div>
                    <div class="position">Full Stack Developer</div>
                    <div class="overlay">
                        <p>
                            <b>Anastasia Scherbakova</b> <br/>
                            Is a junior full stack developer based in Kiev, Ukraine.
                        </p>
                        <div class="d-flex justify-content-center">
                            <a class="float-left" href="https://www.linkedin.com/in/anastasiia-shcherbakova-000519157/"
                               target="_blank" rel="noopener">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/agruenke.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Alexander Grünke (GER)</div>
                    <div class="position">Marketing</div>
                    <div class="overlay">
                        <p>
                            <b>Alexander Grünke</b> <br/>
                            Alexander is a junior social media specialist.
                        </p>
                        <div class="d-flex justify-content-center">
                            <a class="float-left" href="https://www.linkedin.com/in/alexander-gruenke" target="_blank"
                               rel="noopener">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/pmoeller.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Patrick Möller (GER)</div>
                    <div class="position">Marketing</div>
                    <div class="overlay">
                        <p>
                            <b>Patrick Möller</b> <br/>
                            Patrick is a veteran of social media. He started his experience as an actor and comedian,
                            has some famous social media channels in entertainment and is still operating successfully.
                        </p>
                        <div class="d-flex justify-content-center">
                            <a class="float-left" href="https://www.linkedin.com/in/patrick-m%C3%B6ller-40314515b/"
                               target="_blank" rel="noopener">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <!--<a class="float-left" href="#" target="_blank" rel="noopener">
                                <i class="fab fa-twitter"></i>
                            </a>-->
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/adroganova.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Anastasia Droganova (GER)</div>
                    <div class="position">Office Manager</div>
                    <div class="overlay">
                        <p>
                            <b>Anastasia Droganova</b> <br/>
                            Is an office manager based in Dortmund, Germany.
                        </p>
                        <div class="d-flex justify-content-center">
                            <a class="float-left" href="https://www.linkedin.com/in/adroganova" target="_blank"
                               rel="noopener">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/wstelle.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Waldemar Stelle (GER)</div>
                    <div class="position">Technical Support</div>
                    <div class="overlay">
                        <p>
                            <b>Waldemar Stelle</b> <br/>
                            Is a senior analyst with more than 5+ years` in the technology
                            industry.
                        </p>
                        <div class="d-flex justify-content-center">
                            <a class="float-left" href="https://www.linkedin.com/in/wstelle" target="_blank"
                               rel="noopener">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>



            <% if (false) { %>

            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/mshabalina.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Mariia Shabalina</div>
                    <div class="position">AI / Data Science</div>
                    <div class="overlay">
                        <p>
                            <b>Mariia Shabalina</b> <br/>
                            Is a analyst and data-science specialist with more then 3+ years` in data-science and
                            data-mining technologies.
                        </p>
                        <div class="d-flex justify-content-center">
                            <!--<a class="float-left" href="https://www.linkedin.com/in/wstelle" target="_blank"
                               rel="noopener">
                                <i class="fab fa-linkedin"></i>
                            </a>-->
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/atoktakunov.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Azamat Toktakunov</div>
                    <div class="position">UX/CX Expert</div>
                    <div class="overlay"></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/ileyberman.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Ilja Leyberman</div>
                    <div class="position">Chief Architect</div>
                    <div class="overlay"></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/mhollweg.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Matthias Hollweg</div>
                    <div class="position">Insurance Analyst</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/nazzamjai.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Nabil Azzam Jai</div>
                    <div class="position">Insurance Analyst</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/wkolossow.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Wadim Kolossow</div>
                    <div class="position">Insurance Analyst</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/jheinekeclemm.jpg') %>" class="img-fluid"
                         alt="">
                    <div class="name">Jan Heinicke-Clemm</div>
                    <div class="position">Insurance Analyst</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/mjanatzek.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Morris Janatzek</div>
                    <div class="position">Blockchain Developer</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/mkasko.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Michael Kasko</div>
                    <div class="position">Blockchain Developer</div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/ssavchenko.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Sergej Savchenko</div>
                    <div class="position">Blockchain Developer</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/jgeske.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Jan Geske</div>
                    <div class="position">Full Stack Developer</div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="team">
                    <img src="<%= fixUrl(current.path, 'content/img/team/rheffel.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Roman Heffel</div>
                    <div class="position">Collaboration Expert</div>
                </div>
            </div>

            <% } %>
        </div>
    </div>

    <div class="container">
        <div class="head">
            <h1 class="title hr">Advisors</h1>
        </div>
        <div class="row">
            <% if(false){ %>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="investor">
                    <img src="<%= fixUrl(current.path, 'content/img/team/dmattern-bw.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Dirk Mattern</div>
                    <div class="desc">
                        Organisation Advisor
                        <br/>
                        30+
                    </div>
                </div>
            </div>
            <% } else { %>

            <% } %>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="investor">
                    <img src="<%= fixUrl(current.path, 'content/img/team/ekuceradis-bw.jpg') %>" class="img-fluid"
                         alt="">
                    <div class="name">Emanuel Kuceradis(GB)</div>
                    <div class="desc">
                        Technology Advisor
                    </div>
                    <div class="overlay">
                        <p>
                            <b>Emanuel Kuceradis</b> <br/>
                            Emanuel has 20+ years’ experience in financial services sector
                            in BI/BigData projects (UK, US, and China).
                        </p>
                        <div class="d-flex justify-content-center">
                            <a class="float-left" href="https://www.linkedin.com/in/emanuel-kuceradis-86514566/">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="investor">
                    <img src="<%= fixUrl(current.path, 'content/img/team/aboehner-bw.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Alexander Böhner (GER)</div>
                    <div class="desc">
                        Insurance Advisor
                    </div>
                    <div class="overlay">
                        <p>
                            <b>Alexander Böhner</b> <br/>
                            Alexander is an insurance consultant with 10+ years’ of
                            experience leading engineering teams and developing products and
                            platforms. He worked as Programm Manager at Zurich Insurance SE, Gothar and Signal Iduna.
                        </p>
                        <div class="d-flex justify-content-center">
                            <a class="float-left" href="https://www.linkedin.com/in/alexander-böhner">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="investor">
                    <img src="<%= fixUrl(current.path, 'content/img/team/mlurz-bw.jpg') %>" class="img-fluid" alt="">
                    <div class="name">Michael Lurz (GER)</div>
                    <div class="desc">
                        Insurance Advisor
                    </div>
                    <div class="overlay">
                        <p>
                            <b>Michael Lurz</b> <br/>
                            Michael has 10+ years’ experience in insurance industry, especially in product development
                            (health, legal, automotive, commercial).
                        </p>
                        <div class="d-flex justify-content-center">
                            <a class="float-left" href="https://www.linkedin.com/in/michael-lurz-4914a7143/">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <!--<a class="float-left" href="#">
                                <i class="fab fa-twitter"></i>
                            </a>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>