<% include ../helpers.ejs %>
<div>
    <%- partial("../shared/_hero-ico") %>
    <%- partial("..//shared/_about-ico") %>
    <%- partial("..//shared/_articles") %>
    <%- partial("../shared/_feature") %>
    <%- partial("../shared/_team") %>
    <%- partial("../shared/_investors") %>
    <%- partial("../shared/_graph") %>
    <%- partial("../shared/_graph_allocation") %>
    <%- partial("../shared/_faq") %>

</div>