<% include helpers.ejs %>
<%- partial("/shared/_hero") %>
<%- partial("/shared/_about") %>

<%- partial("/shared/_solutions") %>
<%- partial("/shared/_solutions_to") %>
<%- partial("/shared/_newsletter") %>

<div id="platform">
    <%- partial("/shared/_features") %>
    <%- partial("/shared/_features-zero") %>
    <%- partial("/shared/_features-one") %>
    <%- partial("/shared/_features-two") %>
    <%- partial("/shared/_features-three") %>
</div>

<%
if (false) {
    partial("/shared/_partners")
    partial("/shared/_subscribe")
    partial("/shared/_team")
}
%>
<%- partial("/shared/_whitepaper") %>
<%- partial("/shared/_team") %>
<%- partial("/shared/_investors") %>
<%- partial("/shared/_token") %>

<%
if (false) {
    partial("/shared/_ico")
    partial("/shared/_graph")
    partial("/shared/_graph_allocation")
}
%>
<%- partial("/shared/_whitepaper") %>
<%- partial("/shared/_timeline") %>
<%- partial("/shared/_faq") %>
